doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/peppa.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
    script(src="build/bundle.js")
